.playBtn{
    display:block;
    height:30px;
    width:30px;
    border-radius:50%;
    border:1px solid white;
}
.card-img-top{
    object-fit:cover;
    height: 100%;
   }
#playerSongImage{
    object-fit: scale-down;
    height:100px;
    width:100%;
}
button{
    outline: none;
   }